<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이 XML의 구조대로 구현될 클래스의 이름 => Impl클래스를 대체한다. -->
<mapper namespace="CopyCopyMapper">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap id="copy_copy" type="com.spring.wolf.model.CopyCopy">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="fullpath" column="full_path" />
		<result property="image" column="image" />
		<result property="key" column="key" />
		<result property="parent" column="parent" />
		<result property="selectedimage" column="selectedimage" />
		<result property="text" column="text" />
		<result property="nodefullpath" column="노드fullpath" />
		<result property="nodekey" column="노드key" />
		<result property="nodeparent" column="노드parent" />
		<result property="nodetext" column="노드text" />
		<result property="number" column="일련번호" />
	</resultMap>
	
	<!-- 정보 삽입, 테이블 컬럼명이 key라면 따옴표가 필요함. -->
	<insert id="insertData" parameterType="com.spring.wolf.model.CopyCopy" 
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO copy_copy (full_path, `key`)
		VALUES (#{fullpath}, #{key})
	</insert>	
</mapper>





