.top-first-line {
	float:left;
	display: block;
	border-bottom: 2px solid black;
	margin: auto;
	width: 100%;
	background-color: white;
}

.mb-nav-btn {
	display : none;
}

.top-logo {
	float :left;
}

.log-info-mb-btn{
	display: none;
}

.top-text {
	display: block;
	float :left;
	width: 40%;
	font-size: 30px;
	line-height: 100px;
	margin-left: 40px;
}

.log-info {
	float: right;
	width: 100px;
	height : 100%;
	line-height: 50px;
	text-align: center;
	border-left: 1px solid black;
}

.log-info-child {
	display: block;
	border-top: 1px solid black;
}


@media (max-width: 768px) {
	.top-first-line {
		position: fixed;
		top: 0px;
		z-index: 1100;
		width: 100%;
		min-width: 360px;
		min-height: 60px;
		float:left;
		margin: 0px;
	}
	
	.mb-nav-btn {
		float: left;
		width: 16.7%;
		display : block;
	}
	
	.top-logo {
		float : left;
		display: none;
	}
	
	.log-info-mb-btn{
		float: right;
		display: block;
	}
	
	.top-text {
		display: block;
		float: left;
		width: 66.6%;
		height: 60px;		
		margin : auto;
		text-align: center;
		line-height: 60px;
		font-size: 20px;
		border: 0;
	}
	
	.log-info {
		display : none;
	}
	
	
}